In [8]:
import os
import pandas as pd
import datetime as dt
from sklearn import linear_model
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv("https://raw.githubusercontent.com/Laxminarayen/Inceptez-Batch-17/main/Day%2012%2613%20Time%20Series/Decomposition%20Model/Sales.csv")

In [18]:
data.head()

      Date  Sales
0  2013-01   2815
1  2013-02   2672
2  2013-03   2755
3  2013-04   2721
4  2013-05   2946

In [20]:
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
data['Quarter'] = data['Date'].dt.quarter
data['Month'] = data['Date'].dt.month
data['Year'] = data['Date'].dt.year